In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Membaca data set

In [2]:
data = pd.read_csv('C:/Users/ASUS/Downloads/asuransi_mobil.csv')
data.head()

,Unnamed: 0,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [3]:
# Data describe
data.describe()

,Unnamed: 0,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.00000,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,4999.50000,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,2886.89568,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,0.00000,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,2499.75000,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,4999.50000,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,7499.25000,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,9999.00000,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [4]:
data.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [5]:
data.isnull().sum()

Unnamed: 0                 0
IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [6]:
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [7]:
data.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [8]:
data.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [9]:
data.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [10]:
data.PEMILIK_KENDARAAN.unique()

array(['ya', 'tidak'], dtype=object)

In [11]:
data.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [12]:
data.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [13]:
data.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [14]:
data.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [15]:
data.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [16]:
#melakukak mapping
data['UMUR'] = \
data['UMUR'].map({"kurang dari 25 tahun":0, "antara 25-40 tahun":1, "antara 40-65 tahun":2, "lebih dari 65 tahun":3})

In [17]:
data["PENGALAMAN_MENGEMUDI"] = \
data["PENGALAMAN_MENGEMUDI"].map({'kurang dari 10 tahun':0, 'antara 10-20 tahun':1, 'antara 20-30 tahun':2,'lebih dari 30 tahun':3})

In [18]:
data["PENDIDIKAN"] = \
data["PENDIDIKAN"].map({'tidak ada':0, 'SMA':1,'universitas':3})

In [19]:
data["PENGHASILAN"] = \
data["PENGHASILAN"].map({"kurang dari UMR":0, "antara 1-2x UMR":1, "antara 2-3x UMR":2, "lebih dari 3x UMR":3})

In [20]:
data["PEMILIK_KENDARAAN"] = \
data["PEMILIK_KENDARAAN"].map({'ya':0, 'tidak':1})

In [21]:
data["TAHUN_PRODUKSI"] = \
data["TAHUN_PRODUKSI"].map({"setelah 2020":0, "sebelum 2020":2})

In [22]:
data["STATUS"] = \
data["STATUS"].map({"belum menikah":0, "menikah":1})

In [23]:
data["ANAK"] = \
data["ANAK"].map({"'ada":0, "tidak ada":1})

In [24]:
data["JENIS_KENDARAAN"] = \
data["JENIS_KENDARAAN"].map({'keluarga':0, 'sport':1})

In [25]:
data["KLAIM"] = \
data["KLAIM"].map({'tidak':0, 'ya':1})

In [26]:
data.columns

Index(['Unnamed: 0', 'IDENTITAS', 'UMUR', 'JENIS_KELAMIN',
       'PENGALAMAN_MENGEMUDI', 'PENDIDIKAN', 'PENGHASILAN', 'SKOR_KREDIT',
       'PEMILIK_KENDARAAN', 'TAHUN_PRODUKSI', 'STATUS', 'ANAK', 'KODE_POS',
       'KM_PER_TAHUN', 'JENIS_KENDARAAN', 'TILANG_NGEBUT', 'TILANG_MABUK',
       'KECELAKAAN_SEBELUMNYA', 'KLAIM'],
      dtype='object')

In [27]:
data.dtypes

Unnamed: 0                 int64
IDENTITAS                  int64
UMUR                       int64
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI       int64
PENDIDIKAN                 int64
PENGHASILAN                int64
SKOR_KREDIT              float64
PEMILIK_KENDARAAN          int64
TAHUN_PRODUKSI             int64
STATUS                     int64
ANAK                     float64
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN            int64
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                      int64
dtype: object

# One Hot Encoding

In [28]:
data_categorical =["JENIS_KELAMIN"]
data_numeric =["UMUR","PENGALAMAN_MENGEMUDI","PENDIDIKAN", "PENGHASILAN",]
data_binary = ["KLAIM","ANAK","STATUS","TAHUN_PRODUKSI","PEMILIK_KENDARAAN","JENIS_KENDARAAN  "]
data_target = ["KLAIM"]

In [29]:
data_categorical = pd.get_dummies(data)
data_categorical.head()

,Unnamed: 0,IDENTITAS,UMUR,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM,JENIS_KELAMIN_laki-laki,JENIS_KELAMIN_perempuan
0,0,569520,3,0,1,3,0.629027,0,0,0,NaN,10238,12000.0,0,0,0,0,0,0,1
1,1,750365,0,0,0,0,0.357757,1,2,0,1.0,10238,16000.0,0,0,0,0,1,1,0
2,2,199901,0,0,1,1,0.493146,0,2,0,1.0,10238,11000.0,0,0,0,0,0,0,1
3,3,478866,0,0,3,1,0.206013,0,2,0,NaN,32765,11000.0,0,0,0,0,0,1,0
4,4,731664,1,1,0,1,0.388366,0,2,0,1.0,32765,12000.0,0,2,0,1,1,1,0

In [30]:
data_drop = data_categorical.drop(data_numeric, axis =1)

data_drop.head()

In [31]:
data[data_numeric].describe()

               UMUR  PENGALAMAN_MENGEMUDI    PENDIDIKAN   PENGHASILAN
count  10000.000000          10000.000000  10000.000000  10000.000000
mean       1.489500              1.069300      1.594100      1.899600
std        1.025278              0.990452      1.187386      1.149109
min        0.000000              0.000000      0.000000      0.000000
25%        1.000000              0.000000      1.000000      1.000000
50%        1.000000              1.000000      1.000000      2.000000
75%        2.000000              2.000000      3.000000      3.000000
max        3.000000              3.000000      3.000000      3.000000